main {
  display: flex;
  flex-flow: row wrap;
}

header {
  flex: 1 100%;
  min-height: 50px;
  background-color: #333;
  font-weight: 700;
  text-align: center;
}

section.editor, section.gallery {
  min-height: 300px;
  align-items: flex-start;
}

section.editor {
  flex: 1 30%;
  padding-top: 20px;
}

section.editor .background {
  outline: 1px dashed #CCC;
  margin-bottom: 10px;
}

section.gallery {
  flex: 1 70%;
  display: flex;
  height: 100vh;
  overflow: scroll;
  background-color: #AAA;
}

/* Responsive considerations. */
@media (max-width: 480px) {
  header {
    display: none;
  }

  section.editor, section.gallery {
    display: flex;
  }

  section.editor .editor-container {
    flex: 1 60%;
    margin-right: 5%;
  }

  section.editor .editor-container .rect-editor {
    width: 100%;
    margin-right: 5%;
  }

  section.editor .output-container {
    flex: 1 40%;
  }
}
