main {
  display: flex;
  flex-flow: row wrap;
}

header {
  width: 100%;
  flex: 1 100%;
  min-height: 50px;
  max-height: 70px;
  height: 10vh;
  background-color: #333;
  font-weight: 700;
  text-align: center;
  display: table;
}

header h2 {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}

section.editor, section.gallery {
  align-items: flex-start;
}

section.editor {
  height: 100vh;
  flex: 1 30%;
  padding: 20px 0;
}

section.editor .background {
  outline: 1px dashed #CCC;
  margin-bottom: 10px;
}

section.gallery {
  flex: 1 70%;
  display: flex;
  height: 100vh;
  overflow: scroll;
}

/* Responsive considerations. */
@media (max-width: 480px) {
  header {
    height: 5vh;
  }

  .RectGallery div.gallery {
    height: 50vh;
    flex-flow: column wrap;
    border-left: none;
  }

  section.editor {
    height: auto;
    border-bottom: 1px solid #333;
  }

  section.editor, section.gallery {
    display: flex;
  }

  section.editor .editor-container {
    flex: 1 60%;
    margin-right: 5%;
  }

  section.editor .editor-container .RectEditor {
    width: 100%;
    margin-right: 5%;
  }

  section.editor .output-container {
    flex: 1 40%;
  }
}

@media (max-width: 480px) and (max-height: 540px) {
  header {
    display: none;
  }
}
